
html, body {
    height: 100%;
}

body {

    background: antiquewhite;
    font-family: 'Futura-Medium', 'Futura', 'Trebuchet MS', sans-serif;
}

h1 {

}

.titreBillet {
    margin-bottom : 0px;
}

#global {
    min-height: 100%;
    background:antiquewhite;
    width: 100%;
    margin: auto;
    text-align: justify;
    padding: 5px 20px;
}

#contenu {
    margin-bottom : 30px;

}

#titreBlog, #piedBlog {
    text-align: center;
}

#titreReponses {
    font-size : 100%;
}

#txtCommentaire {
    width: 90%;
}

.navbar {
    width: 100%;
}

.navbar li {
    text-align: center;
}

#edit {
    position: relative;
    left: 10%;
}

#delete{
    position: relative;
    top: 44px;

}

#signal{
    position: relative;
    left: 240px;


}
#deletecom{
    position: relative;
    left: 770px;
    bottom: 21px;

}
#editcom {
    position: relative;
    left: 870px;
    bottom: 65px;
}



@media only screen and (min-width: 760px) {

}

@media only screen and (min-width: 1024px) {

    #global {
        min-height: 100%;
        background:antiquewhite;
        width: 1000px;
        margin: auto;
        text-align: justify;
        padding: 5px 20px;
    }

    #txtCommentaire {
        width: 50%;
    }

    #signal{
        position: relative;
        left: 870px;
        bottom: 56px;

    }

}

