
html, body {
    height: 100%;
}

body {

    background: antiquewhite;
    font-family: 'Futura-Medium', 'Futura', 'Trebuchet MS', sans-serif;
}

h1 {

}

.titreBillet {
    margin-bottom : 0px;
}

#global {
    min-height: 100%;
    background:antiquewhite;
    width: 70%;
    margin: auto;
    text-align: justify;
    padding: 5px 20px;
}

#contenu {
    margin-bottom : 30px;

}

#titreBlog, #piedBlog {
    text-align: center;
}

#titreReponses {
    font-size : 100%;
}

#txtCommentaire {
    width: 50%;
}

#editer {
    position: relative;
    left: 800px;
    bottom: 82px;
}

#supprimer{
    position: relative;
    left: 710px;
    bottom: 56px;
}

